src/main/app/simple-http-mirror.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="EE-3.3.0" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <http:body-to-parameter-map-transformer name="Body_to_Parameter_Map" doc:name="Body to Parameter Map"/>
    <object-to-string-transformer name="Object_to_String" doc:name="Object to String"/>
    <https:connector name="HTTPS-connector" doc:name="HTTPS-connector">
    	<https:tls-client path="${app.home}/truststore" storePassword="MuleSoft1"/>
        <https:tls-key-store path="keystore.jks" keyPassword="MuleSoft1" storePassword="MuleSoft1"/>
        <https:tls-server path="${app.home}/truststore" storePassword="MuleSoft1"/>
    </https:connector>
    <flow name="simple-http-mirrorFlow1" doc:name="simple-http-mirrorFlow1">
        <https:inbound-endpoint exchange-pattern="request-response" host="localhost" port="10081" path="test" connector-ref="HTTPS-connector" transformer-refs="Object_to_String Body_to_Parameter_Map" doc:name="HTTP-Inbound"/>
        <logger level="INFO" doc:name="Message"/>
        <logger message="PAYLOAD: #[payload]" level="INFO" doc:name="Payload"/>
        <expression-transformer expression="#[payload]" doc:name="Return"/>
    </flow>
</mule>
